i, cite, em, var, address, dfn{font-style:normal;}
html,body {
	font-family: "Microsoft Yahei", sans-serif;
	color:#404040;
}

.font6{font-size:0.375em!important;}
.font8{font-size:0.5em!important;}
.font10{font-size:0.625em!important;}
.font12{font-size:0.75em!important;}
.font14{font-size:0.875em!important;}
.font16{font-size:1em!important;}
.font18{font-size:1.125em!important;}
.font20{font-size:1.25em!important;}
.font22{font-size:1.4em!important;}
.font24{font-size:1.5em!important;}
.font26{font-size:1.6em!important;}
.font29{font-size:1.8em!important;}
.font32{font-size:2em!important;}
.font36{font-size:2.25em!important;}
.font40{font-size:2.45em!important;}
.font42{font-size:2.55em!important;}




.fnumber{font-family: "Arial", sans-serif;}
.clearfix:after {
  content: ".";
  font-size: 0px;
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.x-input-el::-webkit-input-placeholder {
	color: #ccc!important;
	font-weight:normal;
	font-size:0.875em;
}
.fill .x-form-field{
	-webkit-text-fill-color: #ccc;
}
.x-field .x-input-el{
	font-weight:normal!important;
}
.blue{
	color:#4285f4;
}
.yellow{
	color:#f4b400;
}
.red{
	color:#d73d32;
}
.green{
	color:#53a93f;
}
.gray{
	color:#D8D8D8;
}
.white{
	color:#ffffff;
}
.ht20{line-height:20px;height:20px;}
.ht30{line-height:30px;height:30px;}
.ht40{line-height:40px;height:40px;}



/*Obvious Buttons 基础上修改源代码*/
.x-button-label, .x-badge, .x-hasbadge .x-badge {
	font-weight: 700; 
	line-height: 37px;
}


/*V2*/
.ex-popoup-hint {
    position: fixed;
    z-index: 11111111;
    
    height: 50px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3)
}


.ex-popoup-hint s {
    position: absolute;
    text-decoration: none;
    top: 10px;
    left: 5px;
    height: 50px;
    overflow: hidden;
    background-image: url(../images/ext_hint_icon.png?v=6);
    background-repeat: no-repeat
}

.ex-popoup-hint span {
	padding:15px 15px 0px 40px;
    display: inline-block;
    line-height: 18px;
    vertical-align: middle;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 15px;
    font-family: "Yuanti SC","Microsoft Yahei","Heiti";
    color: white
}

.ex-popoup-hint span b {
    font-weight: normal;
    color: white
}
/*加载*/

.exph-loader {
    background-image: none;
    background-color: rgba(102,102,102,0.85);
}
.exph-loader div {
	top:5px;left:5px;
	width: 40px;
	height: 40px;
	background-image:none;
	border-radius: 50%;
	font-size: 10px;
	position: absolute;
	text-indent: -9999em;
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility:hidden;
	border-top: 0.6em solid rgba(255, 255, 255, 0.2);
	border-right: 0.6em solid rgba(255, 255, 255, 0.2);
	border-bottom: 0.6em solid rgba(255, 255, 255, 0.2);
	border-left: 0.6em solid #ffffff;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: loader 1.1s infinite linear;
	animation: loader 1.1s infinite linear;
}
.exph-loader div:after{
	border-radius: 50%;
	width: 40px;
	height: 40px;
}
.exph-loader span{padding-left: 50px;}
/*警告*/
.exph-war {
    background-image: url(about:blank);
    background-color: rgba(248,149,0,0.95);
}
.exph-war.exph-info {
    background-image: none;
    background-color: rgba(102,102,102,0.85);
}
.exph-war s {
	width: 6px;
	margin-left: 15px;
	background-position: -38px 0;
    -webkit-transform-style: preserve-3d;
	-webkit-backface-visibility:hidden;
    -webkit-animation: war 1.2s ease 0.3s;
    -webkit-animation-fill-mode: both
}
.exph-war.exph-info s{background-image: none;-webkit-animation: none;}
.exph-war.exph-info span{padding-left: 15px;}
/*成功*/
.exph-suc {
    background-image: url(about:blank);
    background-color: rgba(47,183,70,0.95);
}
.exph-suc s {
    width: 38px;
    margin-left: 5px;
    background-position: 0 0;
    -webkit-transform-style: preserve-3d;
	-webkit-backface-visibility:hidden;
    -webkit-animation: suc 0.5s ease;
    -webkit-animation-fill-mode: both
}
.exph-suc span{padding-left: 55px;}

.exph-err {
    background-image: url(about:blank);
    background-color: rgba(181,12,3,0.95);
}
.exph-err s {
    width: 30px;
    margin-left: 3px;
    background-position: -44px 0;
    -webkit-transform-style: preserve-3d;
	-webkit-backface-visibility:hidden;
    -webkit-animation: err 1.2s ease 0.3s;
    -webkit-animation-fill-mode: both
}
.exph-err span{padding-left: 45px;}

.exph-audio{
	background-image: none;
    background-color: rgba(102,102,102,0.95);
}
.exph-audio s{
	background-image:none;
	top:5px;
	left:3px;
}
.exph-audio s:after{
	font-size:36px;
	font-family: "iconfont";
	content: "\e618";
	color:#fff;
}




@-webkit-keyframes suc {
    0% {
        width: 0
    }

    100% {
        width: 38px
    }
}

@-webkit-keyframes war {
    0%,33.33%,66.66%,100% {
        opacity: 1
    }

    16.66%,50% {
        opacity: 0
    }
}

@-webkit-keyframes err {
    0% {
        -webkit-transform: scale(1)
    }

    15% {
        -webkit-transform: scale(0.8)
    }

    30% {
        -webkit-transform: scale(1.2)
    }

    45% {
        -webkit-transform: scale(1)
    }
}

@-webkit-keyframes loader{
    0%{-webkit-transform: rotate(0deg);}
    100%{-webkit-transform: rotate(360deg);}
}
@-moz-keyframes loader{
    0%{-moz-transform: rotate(0deg);}
    100%{-moz-transform: rotate(360deg);}
}
@keyframes loader{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}



.scaleout{
	border-radius: 100%;
    -webkit-animation: scaleout 1s infinite ease-in-out;
    animation: scaleout 1s infinite ease-in-out;
}
@-webkit-keyframes scaleout {
    0% {
        -webkit-transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 0;
    }
}
@keyframes scaleout {
    0% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 0;
    }
}


