*{
	-webkit-text-size-adjust:100%;
	-webkit-user-select: none;
}
}
i, cite, em, var, address, dfn{font-style:normal;}
html,body {
	font-family: "Microsoft Yahei", sans-serif;
	color:#404040;
}
body.x-desktop {
	font-size:100%;
}

.font6{font-size:0.375em!important;}
.font8{font-size:0.5em!important;}
.font10{font-size:0.625em!important;}
.font12{font-size:0.75em!important;}
.font14{font-size:0.875em!important;}
.font16{font-size:1em!important;}
.font18{font-size:1.125em!important;}
.font20{font-size:1.25em!important;}
.font22{font-size:1.4em!important;}
.font24{font-size:1.5em!important;}
.font26{font-size:1.6em!important;}
.font29{font-size:1.8em!important;}
.font32{font-size:2em!important;}
.font36{font-size:2.25em!important;}
.font40{font-size:2.45em!important;}
.font42{font-size:2.55em!important;}




.fnumber{font-family: "Arial", sans-serif;}
.clearfix:after {
  content: ".";
  font-size: 0px;
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.x-input-el::-webkit-input-placeholder {
	color: #ccc!important;
	font-weight:normal;
	font-size:0.875em;
}
.fill .x-form-field{
	-webkit-text-fill-color: #ccc;
}
.x-field .x-input-el{
	font-weight:normal!important;
}
/**/
.copyright{
	margin-top:10px;
	color:#999;
	font-size:12px;
	text-align:center;
	width:100%;
}
/**/

/*logo*/
.login-logo{
	width:100%;
	text-align:center;
	padding:10px;
}
/**/
.blue{
	color:#4285f4;
}
.yellow{
	color:#f4b400;
}
.red{
	color:#d73d32;
}
.green{
	color:#53a93f;
}
.ht20{line-height:20px;height:20px;}
.ht30{line-height:30px;height:30px;}
.ht40{line-height:40px;height:40px;}
a.button {
    color: #444;
    font: bold 0.75em Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 5px 8px;
    position: relative;
    display: inline-block;
    -webkit-transition: border .20s;
	-moz-transition: border .20s;
	-o-transition: border .20s;
	transition: border .20s;
	background: #F2F2F2;
	background: -webkit-linear-gradient(top, #F5F5F5, #F1F1F1);
	background: -moz-linear-gradient(top, #F5F5F5, #F1F1F1);
	background: -ms-linear-gradient(top, #F5F5F5, #F1F1F1);
	background: -o-linear-gradient(top, #F5F5F5, #F1F1F1);
    border: solid 1px #D8D8D8;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    margin-right: 8px;
}
a.button:hover {
    color: #333;
    border-color:#C6C6C6;
    background: #F3F3F3;
	background: -webkit-linear-gradient(top, #F8F8F8, #F1F1F1);
	background: -moz-linear-gradient(top, #F8F8F8, #F1F1F1);
	background: -ms-linear-gradient(top, #F8F8F8, #F1F1F1);
	background: -o-linear-gradient(top, #F8F8F8, #F1F1F1);
	
}
a.button:active {
    color: #222;
    border-color: #606060;
    background: #F3F3F3;
	background: -webkit-linear-gradient(top, #F8F8F8, #F1F1F1);
	background: -moz-linear-gradient(top, #F8F8F8, #F1F1F1);
	background: -ms-linear-gradient(top, #F8F8F8, #F1F1F1);
	background: -o-linear-gradient(top, #F8F8F8, #F1F1F1);
}





.x-button.ui{
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
.x-button.ui .x-button-label,.x-button.tool  .x-button-label{color:#fff;}
.x-button.tool.blue,.x-button.ui.blue{
	border-color:#3079ED;
	background: #4B8DF8;
	background: -webkit-linear-gradient(top, #4C8FFD, #4787ED);
	background: -moz-linear-gradient(top, #4C8FFD, #4787ED);
	background: -ms-linear-gradient(top, #4C8FFD, #4787ED);
	background: -o-linear-gradient(top, #4C8FFD, #4787ED);
}
.x-button.tool.blue:hover,.x-button.tool.blue:active,.x-button.ui.blue:hover,.x-button.ui.blue:active{
	border-color:#2F5BB7;
	background: #3F83F1;
	background: -webkit-linear-gradient(top, #4D90FE, #357AE8);
	background: -moz-linear-gradient(top, #4D90FE, #357AE8);
	background: -ms-linear-gradient(top, #4D90FE, #357AE8);
	background: -o-linear-gradient(top, #4D90FE, #357AE8);
}
.x-button.tool.red,.x-button.ui.red{
	border-color:#D14836;
	background: #D64937;
	background: -webkit-linear-gradient(top, #DC4A38, #D14836);
	background: -moz-linear-gradient(top, #DC4A38, #D14836);
	background: -ms-linear-gradient(top, #DC4A38, #D14836);
	background: -o-linear-gradient(top, #DC4A38, #D14836);
}
.x-button.tool.red:hover,.x-button.tool.red:active,.x-button.ui.red:hover,.x-button.ui.red:active{
	border-color:#B0281A;
	background: #D14130;
	background: -webkit-linear-gradient(top, #DC4A38, #C53727);
	background: -moz-linear-gradient(top, #DC4A38, #C53727);
	background: -ms-linear-gradient(top, #DC4A38, #C53727);
	background: -o-linear-gradient(top, #DC4A38, #C53727);
}
.x-button.tool.green,.x-button.ui.green{
	border-color:#29691D;
	background: #3A8E00;
	background: -webkit-linear-gradient(top, #3C9300, #398A00);
	background: -moz-linear-gradient(top, #3C9300, #398A00);
	background: -ms-linear-gradient(top, #3C9300, #398A00);
	background: -o-linear-gradient(top, #3C9300, #398A00);
}
.x-button.tool.green:hover,.x-button.tool.green:active,.x-button.ui.green:hover,.x-button.ui.green:active{
	border-color:#2D6200;
	background: #3F83F1;
	background: -webkit-linear-gradient(top, #3C9300, #368200);
	background: -moz-linear-gradient(top, #3C9300, #368200);
	background: -ms-linear-gradient(top, #3C9300, #368200);
	background: -o-linear-gradient(top, #3C9300, #368200);
}
.x-button.tool.gray,.x-button.ui.gray{
	border-color:#D8D8D8;
	background: #F2F2F2;
	background: -webkit-linear-gradient(top, #F5F5F5, #F1F1F1);
	background: -moz-linear-gradient(top, #F5F5F5, #F1F1F1);
	background: -ms-linear-gradient(top, #F5F5F5, #F1F1F1);
	background: -o-linear-gradient(top, #F5F5F5, #F1F1F1);
}
.x-button.tool.gray:hover,.x-button.tool.gray:active,.x-button.ui.gray:hover,.x-button.ui.gray:active{
	border-color:#C6C6C6;
	background: #F3F3F3;
	background: -webkit-linear-gradient(top, #F8F8F8, #F1F1F1);
	background: -moz-linear-gradient(top, #F8F8F8, #F1F1F1);
	background: -ms-linear-gradient(top, #F8F8F8, #F1F1F1);
	background: -o-linear-gradient(top, #F8F8F8, #F1F1F1);
}
.x-button.ui.gray .x-button-label,.x-button.tool.gray  .x-button-label{color:#444;}

.x-toolbar-dark .x-button.x-button-back:before{
	background: #D14836;
}
.x-button.x-button-back,.x-toolbar-dark .x-button.x-button-back:after{
	border-color:#D14836;
	background: #D64937;
	background: -webkit-linear-gradient(top, #DC4A38, #D14836);
	background: -moz-linear-gradient(top, #DC4A38, #D14836);
	background: -ms-linear-gradient(top, #DC4A38, #D14836);
	background: -o-linear-gradient(top, #DC4A38, #D14836);
}
.x-button.x-button-back.x-button-pressing,.x-toolbar-dark .x-button.x-button-pressing:after{
	border-color:#B0281A;
	background: #D14130;
	background: -webkit-linear-gradient(top, #DC4A38, #C53727);
	background: -moz-linear-gradient(top, #DC4A38, #C53727);
	background: -ms-linear-gradient(top, #DC4A38, #C53727);
	background: -o-linear-gradient(top, #DC4A38, #C53727);
}
