*{
	font-size-adjust: none;
	-webkit-text-size-adjust: none;
	-moz-font-size-adjust: none;
	-ms-font-size-adjust: none;
	-o-font-size-adjust: none;
}
i, cite, em, var, address, dfn{font-style:normal;}
html,body {
	font-family: "Microsoft Yahei", sans-serif;
	color:#404040;
}
body.x-desktop {
	font-size:100%;
}

.font6{font-size:0.375em!important;}
.font8{font-size:0.5em!important;}
.font10{font-size:0.625em!important;}
.font12{font-size:0.75em!important;}
.font14{font-size:0.875em!important;}
.font16{font-size:1em!important;}
.font18{font-size:1.125em!important;}
.font20{font-size:1.25em!important;}
.font22{font-size:1.4em!important;}
.font24{font-size:1.5em!important;}
.font26{font-size:1.6em!important;}
.font29{font-size:1.8em!important;}
.font32{font-size:2em!important;}
.font36{font-size:2.25em!important;}
.font40{font-size:2.45em!important;}
.font42{font-size:2.55em!important;}




.fnumber{font-family: "Arial", sans-serif;}
.clearfix:after {
  content: ".";
  font-size: 0px;
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.x-input-el::-webkit-input-placeholder {
	color: #ccc!important;
	font-weight:normal;
	font-size:0.875em;
}
.fill .x-form-field{
	-webkit-text-fill-color: #ccc;
}
.x-field .x-input-el{
	font-weight:normal!important;
}
/**/
.copyright{
	margin-top:10px;
	color:#999;
	font-size:12px;
	text-align:center;
	width:100%;
}
/**/

/*logo*/
.login-logo{
	width:100%;
	text-align:center;
	padding:10px;
}
/**/
.blue{
	color:#4285f4;
}
.yellow{
	color:#f4b400;
}
.red{
	color:#d73d32;
}
.green{
	color:#53a93f;
}

a.button {
    color: #6e6e6e;
    font: bold 0.75em Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 5px 8px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    background: #f3f3f3;
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    border: solid 1px #dcdcdc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    margin-right: 8px;
}
a.button:hover {
    color: #333;
    border-color: #999;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
a.button:active {
    color: #000;
    border-color: #444;
}





.x-button.ui{
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
.x-button.ui .x-button-label,.x-button.tool  .x-button-label{color:#fff;}
.x-button.tool.blue,.x-button.ui.blue{
	border-color:#336cc6;
	background: #4285f4;
}
.x-button.tool.blue:hover,.x-button.tool.blue:active,.x-button.ui.blue:hover,.x-button.ui.blue:active{background:#3b79dd;}
.x-button.tool.red,.x-button.ui.red{
	border-color:#932a23;
	background: #d73d32;
}
.x-button.tool.red:hover,.x-button.tool.red:active,.x-button.ui.red:hover,.x-button.ui.red:active{background:#b7352c;}
.x-button.ui.green{
	border-color:#3e7f2d;
	background: #53a93f;
}
.x-button.ui.green:hover,.x-button.ui.green:active{background:#499336;}




.x-button.x-button-back,.x-toolbar-dark .x-button.x-button-back:after{
	border-color:#932a23;
	background: #d73d32;
	background-image:none;
	background-color:none;
}
.x-button.x-button-back.x-button-pressing,.x-toolbar-dark .x-button.x-button-pressing:after{
	background:#b7352c;
}
