
.x-toolbar{
	background-color: #fdfdfd;
	background-image: -webkit-linear-gradient(top, #404040,#606060 3%,#303030);
	background-image: -moz-linear-gradient(top, #dadada,#dbdbdb 3%,#d1d1d1);
	background-image: -o-linear-gradient(top, #dadada,#dbdbdb 3%,#d1d1d1);
	background-image: linear-gradient(top, #dadada,#dbdbdb 3%,#d1d1d1);
	border-color: #eff1f3;
}
.x-toolbar-dark.x-docked-top{border-color: #eff1f3;}
.x-toolbar .x-innerhtml{
	font-weight:normal;
	text-shadow:none;
	color:#fff;
}
/*Tab设置*/
.x-tabbar.x-docked-bottom{
	height:45px;
}
.tab{
	height:100%;
}
.tab .x-tabbar-dark {
	background-image:none;
	background-color:#f7f7f7;
	padding:0;
	border:0;
	border-top:1px solid #f7f7f7;
}
.tab .x-tabbar-dark .x-tab{
	color:#bbbbbb;
	height:100%;
	min-width:25%;
	border:none;
	background-image:none;
	background-color:#f5f5f5;
	border-radius:0px;
	-webkit-border-radius: 0px;
	text-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	
}
.tab .x-tabbar-dark .x-tab .x-button-label{
	font-weight:normal;
}
.tab .x-button-icon{color:#bbb;}
.tab .x-tabbar-dark.x-docked-bottom .x-tab-active .x-button-label,
.tab .x-tabbar-dark.x-docked-bottom .x-tab-active .x-button-icon:before{color:#d73d32;}
.tab .blue{
	color:#4285f4;
}
 .tab .yellow{
	color:#f4b400;
}
 .tab .red{
	color:#d73d32;
}
 .tab .green{
	color:#53a93f;
}
.tab .x-tab.x-tab-active{
	background-color:#ffffff;
}
.x-button.white{
	border-radius:0px;
	-webkit-border-radius: 0px;
	height:100%;
	background-color:#fff;
	background-image:none;
	border:1px solid #eff1f3;
}

/*V2*/
.ex-popoup-hint {
    position: fixed;
    z-index: 11111111;
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3)
}

.ex-popoup-hint:after {
    content: "";
    display: inline-block;
    height: 48px;
    vertical-align: middle
}

.ex-popoup-hint s {
    position: absolute;
    top: 42px;
    left: 50%;
    height: 80px;
    overflow: hidden;
    background-image: url(../images/ext_hint_icon.png?v=6);
    background-repeat: no-repeat
}

.ex-popoup-hint span {
    position: relative;
    top: 138px;
    display: inline-block;
    margin: 0 15px;
    max-height: 48px;
    line-height: 24px;
    vertical-align: middle;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 18px;
    font-family: "Yuanti SC","Microsoft Yahei","Heiti";
    color: white
}

.ex-popoup-hint span b {
    font-weight: normal;
    color: white
}

.exph-suc {
    background-image: url(about:blank);
    background-color: rgba(47,183,70,0.95);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F22FB746', endColorstr='#F22FB746')
}

html:root .exph-suc {
    filter: none
}

.exph-suc s {
    width: 100px;
    margin-left: -50px;
    background-position: 0 0;
    -webkit-animation: suc 0.5s ease;
    -webkit-animation-fill-mode: both
}

.exph-war {
    background-image: url(about:blank);
    background-color: rgba(248,149,0,0.95);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2F89500', endColorstr='#F2F89500')
}

html:root .exph-war {
    filter: none
}

.exph-war s {
    width: 16px;
    margin-left: -8px;
    background-position: -100px 0;
    -webkit-animation: war 1.2s ease 0.3s;
    -webkit-animation-fill-mode: both
}

.exph-err {
    background-image: url(about:blank);
    background-color: rgba(181,12,3,0.95);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2B50C03', endColorstr='#F2B50C03')
}

html:root .exph-err {
    filter: none
}

.exph-err s {
    width: 80px;
    margin-left: -40px;
    background-position: -116px 0;
    -webkit-animation: err 1.2s ease 0.3s;
    -webkit-animation-fill-mode: both
}

.exph-loader {
    background-image: url(about:blank);
    background-color: rgba(102,102,102,0.95);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2666666', endColorstr='#F2666666')
}

html:root .exph-loader {
    filter: none
}

.exph-loader s {
    top: 54px;
    width: 66px;
    height: 66px;
    margin-left: -33px;
    background: url(../images/ext_hint_loader.gif) no-repeat 0 0;
    -webkit-transform: scale(0)
}

.exph-loader:before {
    content: "";
    position: absolute;
    top: 42px;
    left: 50%;
    width: 80px;
    height: 80px;
    margin-left: -40px;
    background-image: url(../images/ext_hint_loader.png?v=3);
    opacity: 0;
    -webkit-animation: loader 1.5s linear infinite
}

@-webkit-keyframes suc {
    0% {
        width: 0
    }

    100% {
        width: 100px
    }
}

@-webkit-keyframes war {
    0%,33.33%,66.66%,100% {
        opacity: 1
    }

    16.66%,50% {
        opacity: 0
    }
}

@-webkit-keyframes err {
    0% {
        -webkit-transform: scale(1)
    }

    15% {
        -webkit-transform: scale(0.8)
    }

    30% {
        -webkit-transform: scale(1.2)
    }

    45% {
        -webkit-transform: scale(1)
    }
}

@-webkit-keyframes loader {
    0%,4.166% {
        opacity: 1;
        -webkit-transform: rotate(0)
    }

    4.167%,8.333% {
        -webkit-transform: rotate(15deg)
    }

    8.334%,12.5% {
        -webkit-transform: rotate(30deg)
    }

    12.501%,16.666% {
        -webkit-transform: rotate(45deg)
    }

    16.667%,20.833% {
        -webkit-transform: rotate(60deg)
    }

    20.834%,25% {
        -webkit-transform: rotate(75deg)
    }

    25.001%,29.166% {
        -webkit-transform: rotate(90deg)
    }

    29.167%,33.333% {
        -webkit-transform: rotate(105deg)
    }

    33.334%,37.5% {
        -webkit-transform: rotate(120deg)
    }

    37.501%,41.666% {
        -webkit-transform: rotate(135deg)
    }

    41.667%,45.833% {
        -webkit-transform: rotate(150deg)
    }

    45.834%,50% {
        -webkit-transform: rotate(165deg)
    }

    50.001%,54.166% {
        -webkit-transform: rotate(180deg)
    }

    54.167%,58.333% {
        -webkit-transform: rotate(195deg)
    }

    58.334%,62.5% {
        -webkit-transform: rotate(210deg)
    }

    62.501%,66.666% {
        -webkit-transform: rotate(225deg)
    }

    66.667%,70.833% {
        -webkit-transform: rotate(240deg)
    }

    70.834%,75% {
        -webkit-transform: rotate(255deg)
    }

    75.001%,79.166% {
        -webkit-transform: rotate(270deg)
    }

    79.167%,83.333% {
        -webkit-transform: rotate(285deg)
    }

    83.334%,87.5% {
        -webkit-transform: rotate(300deg)
    }

    87.501%,91.666% {
        -webkit-transform: rotate(315deg)
    }

    91.667%,95.833% {
        -webkit-transform: rotate(330deg)
    }

    95.834%,99.999% {
        -webkit-transform: rotate(345deg)
    }

    100% {
        opacity: 1;
        -webkit-transform: rotate(360deg)
    }
}



