.copyright{
	margin-top:10px;
	color:#999;
	font-size:12px;
	text-align:center;
	width:100%;
}
.inbutton{width:150px;height:150px;background-color: rgba(48,48,48, 0.5);}
.login-logo{
	width:100%;
	text-align:center;
}
.x-layout-card-item{background:#fff;}
.ui.x-tabbar,.x-toolbar{
	background-color: #404040;
	background-image: -webkit-linear-gradient(top, #404040,#606060 3%,#303030);
	background-image: -moz-linear-gradient(top, #dadada,#dbdbdb 3%,#d1d1d1);
	background-image: -o-linear-gradient(top, #dadada,#dbdbdb 3%,#d1d1d1);
	background-image: linear-gradient(top, #dadada,#dbdbdb 3%,#d1d1d1);
	border-color: #eff1f3;
}
.ui.x-tabbar.gray,.x-toolbar.gray{
	background: #F2F2F2;
	background: -webkit-linear-gradient(top, #F5F5F5, #F1F1F1);
	background: -moz-linear-gradient(top, #F5F5F5, #F1F1F1);
	background: -ms-linear-gradient(top, #F5F5F5, #F1F1F1);
	background: -o-linear-gradient(top, #F5F5F5, #F1F1F1);
	border-color: #D8D8D8;
}
.ui.x-tabbar,.x-toolbar .x-innerhtml{
	font-weight:normal;
	text-shadow:none;
	color:#fff;
}
.ui.tab{
	height:45px;
	background:#fff;
}
.ui.tab .x-tabbar {
	background-image:none;
	background-color:#f7f7f7;
	padding:0;
	border:0;
	border-top:1px solid #f7f7f7;
}
.ui.tab.x-tabbar .x-tab{
	color:#bbbbbb;
	height:100%;
	border:none;
	background-image:none;
	background-color:#f5f5f5;
	border-radius:0px;
	-webkit-border-radius: 0px;
	text-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.ui.tab.x-tabbar .x-tab .x-button-label{
	font-weight:normal;
}
.ui.tab.x-button-icon{color:#bbb;}
.ui.tab.x-tabbar .x-tab-active .x-button-label,
.ui.tab.x-tabbar .x-tab-active .x-button-icon:before{color:#d73d32;}

.ui.tab .x-tab.x-tab-active{
	background-color:#ffffff;
}
.ui.x-button.white{
	border-radius:0px;
	-webkit-border-radius: 0px;
	height:100%;
	background-color:#fff;
	background-image:none;
	border:1px solid #eff1f3;
}

.u-person .x-html{padding:0.6em;}
.u-person img{position:absolute;top:0.6em;left:0.6em;width:70px;height:70px;border-radius:70px;}
.u-person #u-info{padding-left:100px;}
.u-person #u-info h3{margin:0px;margin-top:0.6em;line-height:1.4em;font-size:1em;}
.u-person #u-info h3 span{font-size:1.6em;}
.u-person #u-info i.iconfont{
	font-size:1.4em;
	position :absolute;
	color:#ddd;
	right:1.2em;
	top:1.5em;
}
.u-person #u-info  #u-other{color:#bbb;}


.dv-basic  .x-dataview-item{height:100px;margin-bottom:0.6em;background:#fff;}
.dv-basic  .x-dataview-item .warp{width:100%;height:100%;position: relative;}
.dv-basic  .x-dataview-item .warp.bg1{background:rgba(41,128,185,1);}
.dv-basic  .x-dataview-item .warp.bg2{background:rgba(26,188,156,1);}
.dv-basic  .x-dataview-item .warp.bg3{background:rgba(211,84,0,1);}


.dv-basic  .x-dataview-item .progress-ring {
  display: inline-block;
  width: 95px;
  height: 100%;
  background-repeat: no-repeat;
  float: left;
}
.dv-basic  .x-dataview-item .progress-ring canvas{
	position: absolute;
	top: 0.7em;
	left: 5px;
}
.dv-basic  .x-dataview-item .progress-ring .score{
	height:100%;
	line-height:110px;
	font-family: "Arial", sans-serif;
	text-align: center;
	font-size: 1.2em;
	color: #fff;
}
.dv-basic  .x-dataview-item .progress-ring .score span{font-size:0.6em;}

.dv-basic  .x-dataview-item .content {
  vertical-align: top;
  padding: 0.6em;
}
.dv-basic  .x-dataview-item .content .name {
  font-size: 1.125em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color:#fff;
}
.dv-basic  .x-dataview-item .content .affiliation {
  color: #9d9d9d;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color:#fff;
}

.dv-basic  .x-dataview-item .content .buttons{padding-top:5px;}

.qe-title .x-html{font-size:0.85em;padding:0.6em;}
/*.x-field.qe-answer{background-color: #f7f7f7;}*/
.qe-answer .x-form-label{background-color: #fff;}

.qe-answer .x-form-label span{font-weight:normal;font-size:0.85em!important;}

.x-field-radio .x-field-mask::before{background-color:none;width:0;height:0;}
.x-field-checkbox .x-field-mask::after, .x-field-radio .x-field-mask::after{
	color:#ddd;
	font-family:"iconfont";
	content: "\e62f";
	top:4px;
	font-size:1.4em;
}
.x-field-radio .x-field-mask::after{content: "\e62b";background:none;width:auto;height:auto;top:4px;}
.x-input-el:checked+.x-field-mask::after{color:#d73d32;content: "\e630";}
.x-input-radio:checked+.x-field-mask::after{color:#d73d32;background:none;content: "\e62c";}




