.copyright{
	margin-top:10px;
	color:#999;
	font-size:12px;
	text-align:center;
	width:100%;
}
.login-logo{
	width:100%;
	text-align:center;
	padding:10px;
}
.x-layout-card-item{background:#fff;}
.ui.x-tabbar,.x-toolbar{
	background-color: #404040;
	background-image: -webkit-linear-gradient(top, #404040,#606060 3%,#303030);
	background-image: -moz-linear-gradient(top, #dadada,#dbdbdb 3%,#d1d1d1);
	background-image: -o-linear-gradient(top, #dadada,#dbdbdb 3%,#d1d1d1);
	background-image: linear-gradient(top, #dadada,#dbdbdb 3%,#d1d1d1);
	border-color: #eff1f3;
}
.ui.x-tabbar.gray,.x-toolbar.gray{
	background: #F2F2F2;
	background: -webkit-linear-gradient(top, #F5F5F5, #F1F1F1);
	background: -moz-linear-gradient(top, #F5F5F5, #F1F1F1);
	background: -ms-linear-gradient(top, #F5F5F5, #F1F1F1);
	background: -o-linear-gradient(top, #F5F5F5, #F1F1F1);
	border-color: #D8D8D8;
}
.ui.x-tabbar,.x-toolbar .x-innerhtml{
	font-weight:normal;
	text-shadow:none;
	color:#fff;
}
.ui.tab{
	height:45px;
	background:#fff;
}
.ui.tab .x-tabbar {
	background-image:none;
	background-color:#f7f7f7;
	padding:0;
	border:0;
	border-top:1px solid #f7f7f7;
}
.ui.tab.x-tabbar .x-tab{
	color:#bbbbbb;
	height:100%;
	border:none;
	background-image:none;
	background-color:#f5f5f5;
	border-radius:0px;
	-webkit-border-radius: 0px;
	text-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.ui.tab.x-tabbar .x-tab .x-button-label{
	font-weight:normal;
}
.ui.tab.x-button-icon{color:#bbb;}
.ui.tab.x-tabbar .x-tab-active .x-button-label,
.ui.tab.x-tabbar .x-tab-active .x-button-icon:before{color:#d73d32;}

.ui.tab .x-tab.x-tab-active{
	background-color:#ffffff;
}
.ui.x-button.white{
	border-radius:0px;
	-webkit-border-radius: 0px;
	height:100%;
	background-color:#fff;
	background-image:none;
	border:1px solid #eff1f3;
}
.ui.x-button.face{
	margin:10px;
	background-color:#c5c5c5;
	border-radius:80px;
	border:none;
	background-image:none;
	-webkit-border-radius: 80px;
	position:relative;
}
.ui.x-button.face img{position:absolute;top:7px;left:7px;width:64px;height:64px;}
.ui.x-button.hello{
	background-color:#fff;
	border-radius:0px;
	border:none;
	background-image:none;
	-webkit-border-radius: 0px;
	overflow:hidden;
	text-align:left;
}
.ui.x-button.hello h3{color:#404040;}
.ui.x-button.hello i.iconfont{
	font-size:1.125em;
	position :absolute;
	color:#bbb;
	right:15px;
	top:45px;
}

.ui.x-button.hello h3,.x-button.hello .time{text-align:left;font-weight:normal;}
.ui.x-button.hello .time{color:#bbb;}



.dv-basic  .x-dataview-item{height:120px;margin-top:5px;background:#fff;}
.dv-basic  .x-dataview-item .warp{width:100%;height:100%;position: relative;}
.dv-basic  .x-dataview-item .warp.bg1{background:rgba(41,128,185,1);}
.dv-basic  .x-dataview-item .warp.bg2{background:rgba(26,188,156,1);}
.dv-basic  .x-dataview-item .warp.bg3{background:rgba(211,84,0,1);}



.dv-basic  .x-dataview-item .progress-ring {
  display: inline-block;
  width: 95px;
  height: 100%;
  background-repeat: no-repeat;
  float: left;
}
.dv-basic  .x-dataview-item .progress-ring canvas{
	position: absolute;
	top: 15px;
	left: 3px;
}
.dv-basic  .x-dataview-item .progress-ring .score{
	height:100%;
	line-height:120px;
	font-family: "Arial", sans-serif;
	text-align: center;
	font-size: 24px;
	color: #fff;
}
.dv-basic  .x-dataview-item .progress-ring .score span{font-size:14px;}

.dv-basic  .x-dataview-item .content {
  vertical-align: top;
  margin-left: 95px;
  padding: 25px 0px 0px 10px;
}
.dv-basic  .x-dataview-item .content .name {
  font-size: 1.125em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color:#fff;
}
.dv-basic  .x-dataview-item .content .affiliation {
  color: #9d9d9d;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color:#fff;
}

.dv-basic  .x-dataview-item .content .buttons{padding-top:5px;}
/*
.progress-ring div {
  position: absolute;
  top: 20px;
  left: 12px;
  height: 80px;
  width: 80px;
  border: 13px solid transparent;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.progress-ring  .progress-track,.progress-ring  .progress-cover{border-color:#fff;}
.progress-ring  .progress-left,.progress-ring  .progress-right{border-color:#6ec84e;}


.progress-ring .progress-left, .progress-ring .progress-right, .progress-ring .progress-cover {
  clip: rect(0 40px 80px 0);
}
.progress-ring .progress-right {
  opacity: 0;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.progress-ring .progress-text {
  border: none;
  font-family: "Arial", sans-serif;
  text-align: center;
  font-size: 16.5px;
  color: #fff;
  line-height: 80px;
}
.progress-ring .progress-percent {
  font-size: .55em;
  font-style: italic;
  font-family: "Microsoft Yahei", sans-serif;
}*/




