.copyright{
	margin-top:10px;
	color:#999;
	font-size:12px;
	text-align:center;
	width:100%;
}
.inbutton{width:150px;height:150px;background-color: rgba(48,48,48, 0.5);}
.login-logo{
	width:100%;
	text-align:center;
}
.login-logo h3{font-size:1.4em;margin-bottom: 0.3em;}
.x-layout-card-item{background:#fff;}
.x-button.x-button-fred.nbr,
.x-button.x-button-fblue.nbr,
.x-button.x-button-fgreen.nbr{
	-webkit-border-radius: 0em;
    -moz-border-radius: 0em;
    -ms-border-radius: 0em;
    -o-border-radius: 0em;
    border-radius: 0em;
}

.u-person .x-html{padding:0.6em;}
.u-person img{position:absolute;top:0.6em;left:0.6em;width:70px;height:70px;border-radius:70px;}
.u-person #u-info{padding-left:100px;}
.u-person #u-info h3{margin:0px;margin-top:0.6em;line-height:1.4em;font-size:1em;}
.u-person #u-info h3 span{font-size:1.6em;}
.u-person #u-info i.iconfont{
	font-size:1.4em;
	position :absolute;
	color:#ddd;
	right:1.2em;
	top:1.5em;
}
.u-person #u-info  #u-other{color:#bbb;}


.dv-basic  .x-dataview-item{position: relative;height:100px;margin-bottom:0.6em;background:#fff;}


.dv-basic  .x-dataview-item .progress-ring {
  display: inline-block;
  width: 95px;
  height: 100%;
  background-repeat: no-repeat;
  float: left;
}
.dv-basic  .x-dataview-item .progress-ring canvas{
	position: absolute;
	top: 0.7em;
	left: 5px;
}
.dv-basic  .x-dataview-item .progress-ring .score{
	height:100%;
	line-height:110px;
	font-family: "Arial", sans-serif;
	text-align: center;
	font-size: 1.2em;
	color: #fff;
}
.dv-basic  .x-dataview-item .progress-ring .score span{font-size:0.6em;}

.dv-basic  .x-dataview-item .content {
  vertical-align: top;
  padding: 0.6em;
}
.dv-basic  .x-dataview-item .content .name {
  font-size: 1.125em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color:#fff;
}
.dv-basic  .x-dataview-item .content .affiliation {
  color: #9d9d9d;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color:#fff;
}

.dv-basic  .x-dataview-item .content .buttons{padding-top:5px;}
.dv-basic  .x-dataview-item .content .buttons a{margin-right:0.5em;font-size: 15px;}
.dv-basic  .x-dataview-item .content .buttons a.red.ob-btn:hover,
.dv-basic  .x-dataview-item .content .buttons a.red.ob-btn:focus,
.dv-basic  .x-dataview-item .content .buttons a.red.ob-btn:active{
	background: #d0312a;
	color: #fafafa;
}
.dv-basic  .x-dataview-item .content .buttons a.green.ob-btn:hover,
.dv-basic  .x-dataview-item .content .buttons a.green.ob-btn:focus,
.dv-basic  .x-dataview-item .content .buttons a.green.ob-btn:active {
	background: #47a247;
 	color: #fafafa;
}
.dv-basic  .x-dataview-item .content .buttons a.blue.ob-btn:hover,
.dv-basic  .x-dataview-item .content .buttons a.blue.ob-btn:focus,
.dv-basic  .x-dataview-item .content .buttons a.blue.ob-btn:active {
	background: #006da3;
  	color: #fafafa;
}

.x-form-fieldset{  margin: .5em;}
.x-input-el{font-size:0.85em;  padding: .9em;}
.x-form-label span{font-size:0.75em;font-weight:700;}

.x-field-radio .x-field-mask::after,
.x-field-radio .x-field-mask::before,
.x-field-checkbox .x-field-mask::after, .x-field-radio .x-field-mask::after{
	content: '';
	font-size:0px;
	width:0px;
	height:0px;
	display:none;
}
.x-chart-watermark {
    display: none;
}

.about .x-list-item{border-top:1px solid #ddd;}


.qe-title .x-html{font-size:0.85em;padding:0.6em;}
.qe-options .x-form-label{background-color: #fff;}
.qe-options.x-field-checkbox .x-form-label::before,.qe-options.x-field-radio .x-form-label::before{
	font-family: "iconfont";
	color:#ddd;
	content: "\e62d";
	font-size:1.25em;
	padding:0.5em;
	margin-right:.2em;
	background:#f7f7f7;
}
.qe-options.qe-answer-right.x-field-checkbox .x-form-label::before,
.qe-options.x-field-checkbox.selected .x-form-label::before{
	content: "\e631";
	color:#53a93f;
}
.qe-options.qe-answer-wrong.x-field-checkbox .x-form-label::before{
	content: "\e624";
	color:#ea0101;
}

.qe-options.x-field-radio .x-form-label::before{
	content: "\e62a";
}
.qe-options.qe-answer-right.x-field-radio .x-form-label::beforeï¼Œ
.qe-options.x-field-radio.selected .x-form-label::before{
	content: "\e62e";
	color:#53a93f;
}
.qe-options.qe-answer-wrong.x-field-radio .x-form-label::before{
	content: "\e624";
	color:#ea0101;
}




.qe-options .x-form-label span{font-weight:normal;font-size:0.85em!important;}


.qe-answerbox{bottom:55px;top:auto;background:#f7f7f7;border-top:1px solid #ea0101;}
.qe-answerbox .header,.qe-answerbox .content .x-innerhtml{padding:0.5em;}
.qe-answerbox .content .x-innerhtml{padding-top:0em;font-size:.825em;}
.qe-answerbox .title{float:left;}
.qe-answerbox .rating{float:right;font-size:.825em;}
.qe-answerbox .rating i{font-size:1.25em;color:#f4b400;}


.x-rating{min-height:25px;}
.x-rating .x-component-outer{position: relative; padding:0.6em;min-height: 40px;}
.x-rating .starContainer, .x-rating .starFakeContainer{position:absolute; top:0px;left:0px; width:100%; height:100%; }
.x-rating .starFakeContainer{z-index:10;}
.x-rating .starContainer{display:-webkit-box; -webkit-box-align:center;-webkit-box-pack:center;}
.x-rating .starContainer .center, .x-rating .starContainer .left, .x-rating .starContainer .right{-webkit-box-flex:1}
.x-rating .star{border:0px !important;padding:0px !important;margin:0px 0px 0px -12.5px !important;position:absolute; left:16.66%; top:5px; -webkit-mask:url(../images/star.png) left center no-repeat; -webkit-mask-size:25px 25px; background-color:#ff0000; width:25px; height:25px; opacity:.2; -webkit-transform: scale(1,1);}
.x-rating .star2{left:33.33%;}
.x-rating .star3{left:49.99%;}
.x-rating .star4{left:66.66%;}
.x-rating .star5{left:83.33%;}
.x-rating .star.active{-webkit-transform: scale(1,1); opacity:1;}



.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.noactive.x-tabbar-dark.x-docked-bottom .x-tab-active .x-button-icon:before{color:#fff;}
.noactive.x-tabbar-dark.x-docked-bottom .x-tab-active {
    background-image: none;
    background-color:transparent;
    -moz-box-shadow: none;
    box-shadow:none
}
.noactive.x-tabbar-dark.x-docked-bottom .x-tab .x-button-icon.fav1:before,
.noactive.x-tabbar-dark.x-docked-bottom .x-tab-active .x-button-icon.fav1:before{  color: #ea0101;}
