
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-xingxing:before { content: "\e622"; }
.icon-xuanzhong:before { content: "\e606"; }
.icon-liebiao:before { content: "\e603"; }
.icon-tubiao20:before { content: "\e608"; }
.icon-xingxing1:before { content: "\e623"; }
.icon-meiwifi:before { content: "\e610"; }
.icon-shoucang1:before { content: "\e61d"; }
.icon-iconpoint:before { content: "\e607"; }
.icon-79:before { content: "\e60d"; }
.icon-luyin:before { content: "\e618"; }
.icon-lladdressbuttondelete:before { content: "\e60c"; }
.icon-xianshi:before { content: "\e614"; }
.icon-yincang:before { content: "\e615"; }
.icon-iconfontyoujiantou:before { content: "\e60b"; }
.icon-sousuojieguomeiyou:before { content: "\e612"; }
.icon-zanwushuju:before { content: "\e613"; }
.icon-wodeshoucang:before { content: "\e628"; }
.icon-duihao:before { content: "\e60a"; }
.icon-btndanxuankuangzhengchang:before { content: "\e62a"; }
.icon-btnfuxuankuangzhengchang:before { content: "\e62d"; }
.icon-btndanxuankuangxuanzhong:before { content: "\e62e"; }
.icon-btnfuxuankuangxuanzhong:before { content: "\e631"; }
.icon-cuowu:before { content: "\e624"; }
.icon-svgliebiao:before { content: "\e609"; }
.icon-gerenzhongxin:before { content: "\e62c"; }
.icon-yingyong:before { content: "\e62f"; }
.icon-bukaixin:before { content: "\e601"; }
.icon-kaixin:before { content: "\e602"; }
.icon-bofang:before { content: "\e61e"; }
.icon-zanting:before { content: "\e61c"; }
.icon-xiao20:before { content: "\e604"; }
.icon-xiao75:before { content: "\e605"; }
.icon-suopingweishoucang:before { content: "\e60e"; }
.icon-suopingshoucang:before { content: "\e611"; }
.icon-zhongxinyuan:before { content: "\e632"; }
.icon-851yuanquangengduo:before { content: "\e600"; }
.icon-shoucang:before { content: "\e61f"; }
.icon-ok:before { content: "\e60f"; }
