
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-xuanzhong:before { content: "\e606"; }
.icon-youjiantouquan:before { content: "\e60a"; }
.icon-shezhi:before { content: "\e600"; }
.icon-yingyong:before { content: "\e601"; }
.icon-shoucang1:before { content: "\e61d"; }
.icon-iconpoint:before { content: "\e607"; }
.icon-luyin:before { content: "\e618"; }
.icon-gengduo:before { content: "\e602"; }
.icon-user:before { content: "\e605"; }
.icon-luyin1:before { content: "\e619"; }
.icon-iconfontyoujiantou:before { content: "\e60b"; }
.icon-duijiangji:before { content: "\e61a"; }
.icon-btndanxuankuangzhengchang:before { content: "\e62a"; }
.icon-btnfuxuankuangzhengchang:before { content: "\e62d"; }
.icon-btndanxuankuangxuanzhong:before { content: "\e62e"; }
.icon-btnfuxuankuangxuanzhong:before { content: "\e631"; }
.icon-shangjiantou2:before { content: "\e60c"; }
.icon-shangjiantou1:before { content: "\e60d"; }
.icon-shangjiantou:before { content: "\e60e"; }
.icon-xiajiantou2:before { content: "\e60f"; }
.icon-xiajiantou1:before { content: "\e610"; }
.icon-xiajiantou:before { content: "\e611"; }
.icon-youjiantou1:before { content: "\e612"; }
.icon-youjiantou2:before { content: "\e613"; }
.icon-youjiantou:before { content: "\e614"; }
.icon-zuojiantou:before { content: "\e615"; }
.icon-zuojiantou1:before { content: "\e616"; }
.icon-zuojiantou2:before { content: "\e617"; }
.icon-svgliebiao:before { content: "\e609"; }
.icon-wwwyoujiantou:before { content: "\e608"; }
.icon-wwwzuojiantou:before { content: "\e629"; }
.icon-yincang:before { content: "\e620"; }
.icon-bofang:before { content: "\e61e"; }
.icon-zanting:before { content: "\e61c"; }
.icon-gerenzhongxin:before { content: "\e603"; }
.icon-zhongxinyuan:before { content: "\e632"; }
.icon-list:before { content: "\e61b"; }
.icon-shoucang:before { content: "\e61f"; }
.icon-geren:before { content: "\e604"; }
.icon-xianshi:before { content: "\e621"; }
