
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:1em;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-liebiao:before { content: "\e606"; }
.icon-youjiantouquan:before { content: "\e60a"; }
.icon-shezhi:before { content: "\e600"; }
.icon-yingyong:before { content: "\e601"; }
.icon-liebiao1:before { content: "\e608"; }
.icon-liebiao2:before { content: "\e607"; }
.icon-gengduo:before { content: "\e602"; }
.icon-user:before { content: "\e605"; }
.icon-iconfontyoujiantou:before { content: "\e60b"; }
.icon-shangjiantou2:before { content: "\e60c"; }
.icon-shangjiantou1:before { content: "\e60d"; }
.icon-shangjiantou:before { content: "\e60e"; }
.icon-xiajiantou2:before { content: "\e60f"; }
.icon-xiajiantou1:before { content: "\e610"; }
.icon-xiajiantou:before { content: "\e611"; }
.icon-youjiantou1:before { content: "\e612"; }
.icon-youjiantou2:before { content: "\e613"; }
.icon-youjiantou:before { content: "\e614"; }
.icon-zuojiantou:before { content: "\e615"; }
.icon-zuojiantou1:before { content: "\e616"; }
.icon-zuojiantou2:before { content: "\e617"; }
.icon-svgliebiao:before { content: "\e609"; }
.icon-gerenzhongxin:before { content: "\e603"; }
.icon-geren:before { content: "\e604"; }
